<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>LuckyFrame开源测试平台</title>
    <meta name="keywords" content="LuckyFrame开源测试平台">
    <meta name="description" content="LuckyFrame开源测试平台">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <!-- <link th:href="@{favicon.ico}" rel="stylesheet"/> -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/skins.css}" rel="stylesheet"/>
    <link th:href="@{/ruoyi/css/ry-ui.css?v=3.2.0}" rel="stylesheet"/>
    <style type="text/css">
        .nav > li:hover .dropdown-menu {display: block;}
        #content-main.max { height: calc(100% - 110px); overflow: hidden; width: 100%; height: 100%; left: 0px; position: absolute; top: 0px; z-index: 9998; margin: 0; }
    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden" th:classappend="${@config.getKey('sys.index.skinName')}">
<div id="wrapper">

    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
               <!-- <li class="logo">
				     <span class="logo-lg"><img alt="[ LuckyFrame ]" src="../static/logo.png" th:src="@{/logo.png}"> LuckyFrame</span>
            	</li>
            	<li>
            		<div class="user-panel">
            			<a class="menuItem" title="个人中心" th:href="@{/system/user/profile}"> 
            				<div class="hide" th:text="个人中心"></div>
					        <div class="pull-left image">
		                    	<img th:src="(${user.avatar} == '') ? @{/img/profile.jpg} : @{/profile/avatar/} + ${user.avatar}" class="img-circle" alt="User Image">
					        </div>
				        </a>
				        <div class="pull-left info">
				          <p>[[${user.loginName}]]</p>
				          <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
				          <a th:href="@{logout}" style="padding-left:5px;"><i class="fa fa-sign-out text-danger"></i> 注销</a>
				        </div>
				    </div>
            	</li>-->
                 <li class="active">
                    <a href="index.html"><i class="fa fa-home"></i> <span class="nav-label">主页</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="active"><a class="menuItem" th:href="@{/system/main}">UI TEST 中心</a></li>
                    </ul>
                </li>
                <li th:each="menu : ${menus}">
                	<a href="#">
                    <i class="fa fa fa-bar-chart-o" th:class="${menu.icon}"></i>
                    <span class="nav-label" th:text="${menu.menuName}">一级菜单</span> 
                    <span class="fa arrow"></span>
                	</a>
                    <ul class="nav nav-second-level collapse">
                      <li th:each="cmenu : ${menu.children}">
                        <a th:if="${#lists.isEmpty(cmenu.children)}" class="menuItem" th:utext="${cmenu.menuName}" th:href="@{${cmenu.url}}">二级菜单</a>
                        <a th:if="${not #lists.isEmpty(cmenu.children)}" href="#">[[${cmenu.menuName}]]<span class="fa arrow"></span></a>
                        <ul th:if="${not #lists.isEmpty(cmenu.children)}" class="nav nav-third-level">
                          <li th:each="emenu : ${cmenu.children}"><a class="menuItem" th:text="${emenu.menuName}" th:href="@{${emenu.url}}">三级菜单</a></li>
                        </ul>
                      </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    
    <!--右侧部分开始-->
  <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <!-- <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                 <div class="navbar-header">
                     <a class="navbar-minimalize minimalize-styl-2" style="color:#FFF;" href="#" title="收起菜单">
                         <i class="fa fa-bars"></i>
                     </a>
                 </div>
                 <ul class="nav navbar-top-links navbar-right welcome-message">
                     <li><a title="LuckyFrame社区" href="http://127.0.0.1/index?loginName=admin" target="_blank"><i class="fa fa-comments"></i> LuckyFrame社区</a></li>
                     <li><a title="用户手册" href="http://www.luckyframe.cn/book/yhsc/syschyy-24.html" target="_blank"><i class="fa fa-question-circle"></i> 用户手册</a></li>
                     <li><a title="全屏显示" id="fullScreen"><i class="fa fa-arrows-alt"></i> 全屏显示</a></li>
                     <li class="dropdown user-menu">
                         <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                             <img th:src="(${user.avatar} == '') ? @{/img/profile.jpg} : @{/profile/avatar/} + ${user.avatar}" class="user-image">
                             <span class="hidden-xs">[[${user.userName}]]</span>
                         </a>
                         <ul class="dropdown-menu">
                             <li class="mt5">
                                 <a th:href="@{/system/user/profile}" class="menuItem">
                                 <i class="fa fa-user"></i> 个人中心</a>
                             </li>
                             <li>
                                 <a onclick="resetPwd()" class="menuItem">
                                 <i class="fa fa-key"></i> 修改密码</a>
                             </li>
                             <li class="divider"></li>
                             <li>
                                 <a th:href="@{logout}">
                                 <i class="fa fa-sign-out"></i> 退出登录</a>
                             </li>
                         </ul>
                     </li>
                 </ul>
             </nav>-->
      </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active menuTab" data-id="/system/main">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">
                                                                          页签操作<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                     <li><a class="tabCloseCurrent" href="javascript:void(0);">关闭当前</a></li>
                     <li><a class="tabCloseOther" href="javascript:void(0);">关闭其他</a></li>
					 <li><a class="tabCloseAll" href="javascript:void(0);">全部关闭</a></li>
					 <li><a class="tabMaxCurrent" href="javascript:void(0);">全屏显示</a></li>
                </ul>
            </div>
            <a href="#" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> 刷新</a>
        </div>
        
        <a id="ax_close_max" class="ax_close_max" href="#" title="关闭全屏"> <i class="fa fa-times-circle-o"></i> </a>
                    
        <div class="row mainContent" id="content-main">
            <iframe class="RuoYi_iframe" name="iframe0" width="100%" height="100%" data-id="/system/main"
                    th:src="@{/system/main}" frameborder="0" seamless></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">© [[${copyrightYear}]] LuckyFrame [[${version}]] Copyright </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<!-- 全局js -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/ruoyi/js/ry-ui.js?v=3.2.0}"></script>
<script th:src="@{/ruoyi/index.js}"></script>
<script th:src="@{/ajax/libs/fullscreen/jquery.fullscreen.js}"></script>
<script th:inline="javascript"> 
var ctx = [[@{/}]];
/*用户管理-重置密码*/
function resetPwd() {
    var url = ctx + 'system/user/profile/resetPwd';
    $.modal.open("重置密码", url, '800', '500');
}
</script>
</body>
</html>
